* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #03A9F4;
    overflow: hidden;
}

.container {
    position: relative;
    width: 300px;
    height: 250px;
    text-align: center;
    background-color: #525152;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container .text {
    position: absolute;
    top: 10px;
    height: 100%;
}

.container .text h3 {
    color: #00BCD4;
    font-family: Arial,sans-serif;
    font-style: italic;
    line-height: 35px;
    margin: 0 10px;
}

.container .text p {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 100%;
    font-family: Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #00BCD4;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.container .text p::before {
    content: ""
}

.container button {
    all: unset;
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: -50px;
    background-color: #333;
    color: #DDD;
    padding: 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    z-index: 9;
}

.container button::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3F51B5;
    width: 0;
    height: 100%;
    transition: .3s linear;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.container button:hover::before {
    width: 100%;
    z-index: -1;
}

.container button:hover {
    color: #FF9800;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1b7bc7;
    color: #ddddddd4;
    font-family: Arial,sans-serif;
    padding: 5px 0;
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color: rgb(11, 214, 119);
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

footer a:hover {
    color: #FF9800;
}